.container {
    margin:50px auto;
}

.items {
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    color: #222831;
}

.items:hover {
    background-color: #00ADB5;
}

.company-name {
    white-space: pre;
    font-size: 1.5rem;
    margin-bottom: 0;
}